/* countries list */
.flag{
	height:42px;
	width:42px;
	margin:14px 20px 14px 0px;
	float:left;
}
.text{
	margin-top:6px;
}
.country_name{
	font-weight:500;
}
.country_name, .country_area, .capital{
	display:block;
	line-height:20px;
}
/* grid */
.webix_icon.green{
	color:#55CD97;
}
.webix_icon.red{
	color:#FF5C4C;
}
/* country description */
.country_description{
	padding:4px 0px;
}