/* countries list */
.flag{
	height:42px;
	width:42px;
	margin:14px 20px 14px 0px;
	float:left;
}
.text{
	margin-top:6px;
}
.country_name{
	font-weight:500;
}
.country_name, .country_area, .capital{
	display:block;
	line-height:20px;
}
/* grid */
.webix_icon.green{
	color:#55CD97;
}
.webix_icon.red{
	color:#FF5C4C;
}
/* country description */
p.description_paragraph{
	margin:0px;
	padding-top:8px;
}
/* top layout */
.app_layout.webix_layout_line{
	background: #EBEDF0;
}
.header_label .webix_el_box{
	font-size:16px;
}